<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Motooto - dodawanie ogłoszenia nieudane</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/user_advertisements">Moje ogłoszenia</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<h1>Niestety, nie mogliśmy dodać ogłoszenia</h1>
<h3>Co dalej?</h3>
<ul>
    <li>Upewnij się czy wszystkie pola zostały wypełnione poprawnie i <a href="/add_advert">spróbuj ponownie</a>.</li>
</ul>
</body>
</html>