<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Motooto - ogłoszenie</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/user_advertisements">Moje ogłoszenia</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<h1 th:text="${title}"></h1>
<p>Ogłoszenie wystawił: <span th:text="${publisherUsername}"/></p>
<p>Kontakt: <span th:text="${phoneNumber}"/></p>
<p>Data ostatniej modyfikacji: <span th:text="${lastModificationDate}"/></p>
<p>Cena:</p>
<ul>
    <li><span th:text="${pricePln}"/> PLN</li>
    <li><span th:text="${priceEur}"/> EUR</li>
    <li><span th:text="${priceUsd}"/> USD</li>
    <li><span th:text="${priceGpb}"/> GPB</li>
</ul>
<h3>Szczegóły</h3>
<p>Marka: <span th:text="${carMake}"/></p>
<p>Model: <span th:text="${carModel}"/></p>
<p>Rok produkcji: <span th:text="${productionYear}"/></p>
<p>Pojemność silnika: <span th:text="${engineDisplacement}"/></p>
<p>Moc (KM): <span th:text="${horsePower}"/></p>
<p>Stan: <span th:text="${carStatus}"/></p>
<h3>Opis</h3>
<p><span th:text="${description}"/></p>
</body>
</html>