<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Motooto - logowanie</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/user_advertisements">Moje ogłoszenia</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<form th:action="@{/login}" method="post">
    <div>
        <label> User Name : <input type="text" name="username"/></label>
    </div>

    <div>
        <label> Password: <input type="password" name="password"/></label>
    </div>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form>
</body>
</html>