<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Motooto - rejestracja nieudana</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<h1>Niestety, nie mogliśmy zarejestrować Twojego konta</h1>
<h3>Co dalej?</h3>
<ul>
    <li>Wybierz inną nazwę użytkownika lub adres e-mail i <a href="/register">spróbuj ponownie</a>.</li>
    <li>Upewnij się, że hasła w obu polach są takie same.</li>
    <li>Upewnij się, że adres e-mail jest w formacie nazwa@mail.com.</li>
</ul>
</body>
</html>