<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Motooto - rejestracja nieudana</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<h1>Niestety, nie mogliśmy zarejestrować Twojego konta</h1>
<h3>Wybierz inną nazwę użytkownika lub adres e-mail i <a href="/register">spróbuj ponownie</a>.</h3>
</body>
</html>