<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Motooto - rejestracja zakończona</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/user_advertisements">Moje ogłoszenia</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<h1><span th:text="${registeredName}"/>, Twoje konto zostało zarejestrowane!</h1>
<p>Możesz się teraz zalogować na <a href="/login">tej stronie</a>.</p>
</body>
</html>