<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Motooto - rejestracja</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<form th:action="@{/register}" th:object="${userDto}" method="post">
    <div>
        <label>Nazwa użytkownika: <input type="text" name="username"/></label>
    </div>

    <div>
        <label>Adres e-mail: <input type="text" name="email"/> </label>
    </div>

    <div>
        <label>Imię: <input type="text" name="firstName"/></label>
    </div>

    <div>
        <label>Nazwisko: <input type="text" name="lastName"/></label>
    </div>

    <div>
        <label>Hasło: <input type="password" name="password"/></label>
    </div>

    <div>
        <label>Powtórz hasło: <input type="password" name="passwordRepeat"/></label>
    </div>

    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>