<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Motooto - wyszukiwanie</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/user_advertisements">Moje ogłoszenia</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<p>Wyszukiwanie.</p>
<form th:action="@{/search}" th:object="${searchDTO}" method="post">
    <div>
        <div>
            <label>Marka: <input type="text" name="carMake"/></label>
        </div>
        <div>
            <label>Model: <input type="text" name="carModel"/></label>
        </div>
        <div>
            <label>Cena od: <input type="text" name="price_beg"/></label>
        </div>
        <div>
            <label>Cena do: <input type="text" name="price_end"/></label>
        </div>
        <div>
            <label>Rok produkcji od: <input type="text" name="productionYear_beg"/></label>
        </div>
        <div>
            <label>Rok produkcji do: <input type="text" name="productionYear_end"/></label>
        </div>
        <div>
            <label>Uszkodzony: <input type="checkbox" name="damaged"/></label>
        </div>
    </div>
    <div>
        <input type="submit" value="Wyszukaj"/>
    </div>
</form>
<table>
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Marka auta</th>
        <th>Model auta</th>
        <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${advertisements.empty}">
        <td colspan="2">Brak ogłoszeń</td>
    </tr>
    <tr th:each="advertisement : ${advertisements}">
        <td><span th:text="${advertisement.title}">Tytuł</span></td>
        <td><span th:text="${advertisement.details.make}">Marka</span></td>
        <td><span th:text="${advertisement.details.model}">Model</span></td>
        <td><span th:text="${advertisement.price}">Cena</span></td>
        <td><a th:href="@{/advertisement?advertisementId=} + ${advertisement.id}">Szczegóły</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>