<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Motooto - wyszukiwanie nieudane</title>
</head>
<body>
<h1>Motooto.pl</h1>
<menu>
    <a href="/">Strona główna</a>
    <a href="/register">Rejestracja</a>
    <a href="/login">Logowanie</a>
    <a href="/add_advert">Dodaj ogłoszenie</a>
    <a href="/search">Szukaj</a>
    <a href="/logout">Wyloguj</a>
</menu>
<h1>Niestety, wyszukiwanie nie powiodło się</h1>
<h3>Co dalej?</h3>
<ul>
    <li>Upewnij się czy wszystkie pola zostały wypełnione poprawnie i <a href="/search">spróbuj ponownie</a>.</li>
</ul>
</body>
</html>